.pending-homepage {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: dimgray;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}

.homepage-block {
  background-color: AliceBlue;
  color: black;
  margin: 15px 42px 15px 42px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pending-details {
  font-weight: 900;
}

.info_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homepage-block:hover {
  background-color: LightSteelBlue;
}