.pending-homepage {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: dimgray;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}

.homepage-block {
  background-color: AliceBlue;
  color: black;
  margin: 15px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}